.hide {
  display: none;
}

button {
  background-size: 0%;
  background-repeat: no-repeat;
  background-image: linear-gradient(red 50%, red 50%);
  animation-name: button_animation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: running;

  :hover {
    background-image: linear-gradient(rgb(126, 7, 7) 50%, rgb(126, 7, 7) 50%);
  }
}

@keyframes button_animation {
  100% {
    background-size: 100%;
  }
}
